# ==================== PostgreSQL Database Configuration ====================
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
GLOBAL_BROWSER_POOL=

# ==================== Security Configuration ====================
JWT_SECRET_KEY=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
PASSWORD_RESET_TOKEN_EXPIRE_HOURS=
ENCRYPTION_KEY=

# ==================== Email Configuration ====================
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_FROM_NAME=
EMAIL_USE_TLS=
RESET_PASSWORD_URL=

#==================Continue with Google=========================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# ==================== Redis Configuration ====================
REDIS_URL=

# ==================== Proxy Attempts Configuration ====================

# Attempt 1: Nodemaven Proxy
ATTEMPT_1_PROXY_HOST=
ATTEMPT_1_PROXY_PORT=
ATTEMPT_1_PROXY_USER=
ATTEMPT_1_PROXY_PASS=
NODEMAVEN_BASE_USER=
NODEMAVEN_ISP_APIKEY=

ATTEMPT_2_PROXY_HOST=
ATTEMPT_2_PROXY_PORT=
ATTEMPT_2_PROXY_USER=
ATTEMPT_2_PROXY_PASS=

# Attempt 3: Evomi Core
ATTEMPT_3_PROXY_HOST=
ATTEMPT_3_PROXY_PORT=
ATTEMPT_3_PROXY_USER=
ATTEMPT_3_PROXY_PASS=
# Crawling Attempts Provider Ordering
ATTEMPT_1=
ATTEMPT_2=
ATTEMPT_3=

# ==================== Agent API Settings ====================
CRAWL_HEADLESS=
API_ENV=
DEBUG=
# ==================== Google Search Proxy Configuration ====================
ALLOW_DDG_FALLBACK=
SERPER_API_KEY=
EVOMI_PROXY_SERVER=
EVOMI_PROXY_USERNAME=
EVOMI_PROXY_PASSWORD=

RECAPTCHA_SECRET_KEY=

# ==================== API Key Double Encryption ====================
API_SECRET_KEY=
DB_SECRET_KEY=

# ==================== AWS S3 Configuration ====================
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# ==================== Payment Gateway ==========================
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET =

