@import '../signin/signin.component.scss';

// Override or add specific styles for reset password if needed
.auth-card {
  max-width: 400px;
}

.confirm-visible {
  position: absolute;
  right: 0;
  top: 33px;
}
