.main-section {
  max-width: 1100px;
  width: 100%;
}

.nav-pills .nav-link.active {
  color: var(--text-color) !important;
  background: var(--card-bg-color) !important;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.nav-pills .nav-item {
  padding: 5px 18px;
}

.nav-link {
  color: var(--text-color-secondary) !important;
  font-size: 12px !important;
}

.scroll-tabs {
  overflow-x: auto;
  flex-wrap: nowrap;
  background-color: var(--grid-line-color) !important;
}

.scroll-tabs::-webkit-scrollbar {
  display: none;
}

.tab-content {
  border: 1px solid #eee;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  padding: 10px;
  max-height: 500px;
  overflow-y: auto;
}

.report-container {
  display: grid;
  gap: 15px;
  padding: 12px;
}

.title {
  font-size: 17px;
  color: darkgrey;
}

.content {
  background: var(--grid-line-color);
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  font-size: 13px;
  color: var(--text-color);
}

.gcnot-login {
  backdrop-filter: blur(5px);
  background: var(--card-bg-color);
  border-radius: 10px;
  margin-top: 20px;
}

.fav-icon {
  width: 12px;
  filter: contrast(0.5);
}

.issue-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.issue-box {
  border: 1px solid #ddd;
  padding: 6px;
  border-radius: 6px;
  font-size: 13px;
}

@media (max-width: 768px) {

  .header-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-actions button {
    width: 100%;
  }

  .tab-content {
    max-height: 400px;
  }

}


@media (max-width: 480px) {

  .scrape-details {
    flex-direction: column;
    text-align: center;
  }

  .issue-container {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 15px;
  }
}

.dark-grey {
  color: darkgrey !important;
}

.dark-btn {
  background: transparent !important;
  color: darkgray !important;
  border: 1px solid darkgrey !important;
}