.badge-new {
  background: var(--grid-line-color);
  color: var(--text-color-secondary);
  font-size: 11px;
  padding: 2px 6px;
  border-radius: 6px;
  margin-left: 4px;
}

.batch-btn {
  border: 1px solid #21D496;
  color: var(--text-color);
  padding: 3px 14px;
  font-size: 11px;
  border-radius: 9px;
  width: 15%;
}

.primary-color {
  color: #21D496;
}