/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;
@include mat.core();
$my-app-primary: mat.define-palette(mat.$indigo-palette);
$my-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$my-app-warn: mat.define-palette(mat.$red-palette);
$my-app-theme: mat.define-light-theme((color: (primary: $my-app-primary,
                accent: $my-app-accent,
                warn: $my-app-warn,
            ),
        ));
@include mat.all-component-themes($my-app-theme);
@import 'ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #ffffff;
    --text-color: rgba(6, 0, 0, 0.929);
    --text-color-secondary: rgb(81 78 78 / 93%);
    --grid-line-color: #eee;
    --card-bg-color: #ffffff;
}

.dark-theme {
    --background-color: #121212;
    --text-color: #e0e0e0;
    --text-color-secondary: #b0b0b0;
    --grid-line-color: #333;
    --card-bg-color: #1e1e1e;
    --bg-transparent: transparent;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    background-image:
        linear-gradient(to right, var(--grid-line-color) 1px, transparent 1px),
        linear-gradient(to bottom, var(--grid-line-color) 1px, transparent 1px);
    background-size: 300px 120px;
    background-position: center;
    overflow-x: hidden;
    transition: background-color 0.3s, color 0.3s;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-17 {
    font-size: 17px !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.txt-white {
    color: #fff !important;
}

.txt-red {
    color: #FF595E !important;
}

.txt-green {
    color: #21D496 !important;
}

.btn-bg-primary {
    background-color: #21D496 !important;
    padding: 2px 14px !important;
    border-radius: 6px !important;
    margin-left: 12px !important;
}

.btn-bg-primary-light {
    background-color: transparent !important;
    border: 1px solid #21D496;
    padding: 2px 14px !important;
    border-radius: 6px !important;
    margin-left: 12px !important;
}

.btn-bg-primary img {
    align-items: center;
    text-align: center;
    display: flex;
    padding: 4px 5px;
    filter: invert(1) !important;
}

.bg-white {
    background-color: var(--card-bg-color) !important;
}

.bg-red {
    background-color: #FF595E !important;
}

.text-color-black {
    color: var(--text-color) !important;
}

.text-color-grey {
    color: var(--text-color-secondary) !important;
}

/* Prepare animation */
.dropdown-menu {
    display: block !important;
    opacity: 0;
    transform: translateY(-15px) scale(0.98);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    pointer-events: none;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0) scale(1);
    visibility: visible;
    pointer-events: auto;
}